@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    block-size: 100%;
  }

  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: transparent;
  }

  @font-face {
    font-family: "Jost-fallback";
    size-adjust: 96.70000000000002%;
    font-display: swap;
    src: local("Arial");
  }

  /* jost-regular - latin */
  @font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""),
      url("./assets/fonts/jost/jost-v14-latin-regular.woff2") format("woff2"),
      url("./assets/fonts/jost/jost-v14-latin-regular.woff") format("woff");
  }

  /* jost-500 - latin */
  @font-face {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(""),
      url("./assets/fonts/jost/jost-v14-latin-500.woff2") format("woff2"),
      url("./assets/fonts/jost/jost-v14-latin-500.woff") format("woff");
  }

  /* jost-italic - latin */
  @font-face {
    font-family: "Jost";
    font-style: italic;
    font-weight: 400;
    src: local(""),
      url("./assets/fonts/jost/jost-v14-latin-italic.woff2") format("woff2"),
      url("./assets/fonts/jost/jost-v14-latin-italic.woff") format("woff");
  }

  [id] {
    scroll-margin-top: theme("spacing.28");
  }
}

@layer components {
  @media screen(desktop) {
    .bg-layout::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: calc(theme("zIndex.50") * -1);
      height: max(0px, min(100%, calc((100% - 1800px) * 9999)));
      background-image: url("./assets/shared/desktop/bg-pattern-leaf.svg");
      background-position: left 345px;
      background-repeat: no-repeat;
    }
  }
}
